.login{
    background: url(../imgs/hero.jpg)no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}

.login__cont{
    margin: 0 auto;
}
label{
    font-size: 1.4rem;
    color: white;
    margin-right: 9px;
}

input{
    background: rgba(255, 255, 255, 0.27);
    padding: 0 10px;
    border:1px white solid;
    border-radius: 6px;
}